.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 2000ms ease-in-out;
}

.ReactModal__Overlay--after-open{
  opacity: 1;
}

.ReactModal__Overlay--before-close{
  opacity: 0;
}

.modalContent {
  position: absolute;
  border-radius: 4px;
  outline: none;
}

/* @media (max-width: 556px) {
  .modalContent {
    top: 55% !important;
  }
} */
